$font-primary: "Open Sans", sans-serif;
$font-headings: "Archivo Narrow", sans-serif;

$pink: #c32c72;
$background-grey: #e2e2e2;
$white: #ffffff;
$grey: #6a6a6a;
$creme: #f4f3ee;
$background-grey2: #e5e5e5;
